
<footer class="text-center text-white" style="background-color: #B67CC5;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <h4>siga-nos nas redes sociais!</h4>
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1  font-weight-bold"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-facebook fs-30 m-4"></i></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1  font-weight-bold"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-instagram fs-30 m-4"></i></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1  font-weight-bold"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-linkedin  m-4 fs-30"></i></a>
        <!-- Github -->
         <a    
          class="btn btn-link btn-floating btn-lg text-light m-1  font-weight-bold mudcor:hover"
          href="#!" 
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-github  m-4 fs-30 "></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-light p-3 font-weight-bold text-white" style="background-color: #7254A1;">
      © 2020 Copyright:
      <a class="text-light" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>