.fs-30{
    font-size: 30pt;
}

.bi-facebook:hover{
color:  #7254A1;
}

.bi-instagram:hover{
    color:  #7254A1;
}

.bi-linkedin:hover{
    color:  #7254A1;
}

.bi-github:hover{
    color:  #7254A1;
}