#img-bg{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b0/Transgender_Pride_flag.svg');
    min-height: 635px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }