
<div class="container-fluid">

    <div class="row "><!-- rever o final do vídeo de menu para saber como centralizar tudo-->
    
    <div class="col-md-3"id="img-bg"></div><!-- primeira divisão -->
    
    <div class="col-md-6">
        <div class="row d-flex justify-content-center"><!-- divisão central, login-->
            <div class="col-md-4">
       <h1 class="text-center ">Cadastro</h1><!-- rever o final do vídeo de menu para saber como centralizar tudo-->
    
       <div class="form-group">
        <label for="nome">Nome</label>
        <input class="form-control" type="text" name="nome" id="name"
        placeholder="Seu nome">
       </div>
       <div class="form-group">
        <label for="usuario">Usuário</label>
        <input class="form-control" type="text" name="usuario" id="usuario"
        placeholder="Seu usuário">
       </div>
       <div class="form-group">
        <label for="link da foto">Link da Foto</label>
        <input class="form-control" type="text" name="foto" id="foto"
        placeholder="Link da sua foto">
       </div>
       <div class="form-group">
        <label for="biografia">Biografia</label>
        <input class="form-control" type="text" name="biografia" id="biografia"
        placeholder="Sua biografia">
       </div>
       <div class="form-group">
        <label for="senha">Senha</label>
        <input class="form-control" type="password" name="senha" id="senha"
        placeholder="Sua senha">
       </div>
       <div class="form-group">
        <label for="confirme senha">Confirme Senha</label>
        <input class="form-control" type="password" name="confirme" id="confirme"
        placeholder="confirme sua senha">
       </div>
       <div class="form-group">
        <label for="tipo">Tipo de Usuário</label>
        <select class="form-control" name="tipo" id="tipo">
         <option>Selecione um tipo de usuário:</option>
         <option value="Usuário"></option>
         <option value="Adm Usuário "></option>
        </select>
       </div>

       <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success ml-2">Cadastrar</button>
       </div>
       <hr class="mt-4 mb-2">
    <p class="text-center"> Já tem uma conta? <br><a routerLink="/login">Volte para Login!</a></p>
    
    
            </div>
        </div>
        
    </div>
    
    <div class="col-md-3" id="img-bg"></div><!-- última divisão -->
    
    </div>
    </div>
    