
<div class="container-fluid">

    <div class="row "><!-- rever o final do vídeo de menu para saber como centralizar tudo-->
    
    <div class="col-md-3"id="img-bg"></div><!-- primeira divisão -->
    
    <div class="col-md-6">
        <div class="row d-flex justify-content-center"><!-- divisão central, login-->
            <div class="col-md-4">
       <h1 class="text-center ">Cadastro</h1><!-- rever o final do vídeo de menu para saber como centralizar tudo-->
    
       <div class="form-group">
        <label for="nome">Nome</label>
        <input [(ngModel)]="usuario.nome" class="form-control" type="text" 
        name="nome" id="name" placeholder="Seu nome" >
       </div>
       <div class="form-group">
       <label for="usuario">Usuário</label> <!-- (click)="valideEmail()"-->
        <input [(ngModel)]="usuario.usuario" class="form-control" type="email" name="usuario" id="usuario"
        placeholder="Seu usuário">
       </div>
       <div class="form-group">
        <label for="link da foto">Link da Foto</label>
        <input [(ngModel)]="usuario.foto" class="form-control" type="text" name="foto" id="foto"
        placeholder="Link da sua foto">
       </div>
       <div class="form-group">
        <label for="senha">Senha</label>
        <input (input)="confirmSenha($event)" class="form-control" type="password" name="senha" id="senha"
        placeholder="Sua senha">
       </div>
       <div class="form-group">
        <label for="confirmSenha">Confirme sua Senha</label>
        <input [(ngModel)]="usuario.senha" class="form-control" type="password" name="confirmSenha" id="confirmSenha" placeholder="Confirme sua senha">
       </div>
       <div class="form-group">
        <label for="tipo">Tipo de Usuário</label>
        <select class="form-control" name="tipo" id="tipo" (change)="tipoUsuario($event)" >
         <option>Selecione seu tipo</option>
         <option value="Usuário">Normal</option>
         <option value="Adm Usuário ">Usuário Adm</option>
        </select>
       </div>

       <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success ml-2" (click)="cadastrar()">Cadastrar</button>
       </div>
       <hr class="mt-4 mb-2">
    <p class="text-center"> Já tem uma conta? <br><a routerLink="/login">Volte para Login!</a></p>
    
    
            </div>
        </div>
        
    </div>
    
    <div class="col-md-3" id="img-bg"></div><!-- última divisão -->
    
    </div>
    </div>
    